.roadmapWrapper {
    margin-top: 5rem;
    width: 100%;
    padding: 0 clamp(2rem, 4vw, 4rem);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.roadmapTitle {
    font-family: 'CheeseBurga';
    color: #FFFFFF;
    font-size: 9vw;
    font-weight: 400;
}

.roadmapContent {
    display: flex;
    justify-content: space-between;
}

.roadmapInfo {
    width: 50%;
    margin-top: clamp(2.4rem, 1.5vw, 5rem);
}

.roadmapInfo p {
    font-family: 'Kumbh Sans';
    color: #353535;
    font-size: clamp(8px, 2vw, 32px);
    font-weight: 800;
    margin-bottom: 0.6rem;
}

.roadmapInfo span {
    font-family: 'Kumbh Sans';
    color: #FFA800;
    font-size: clamp(10px, 2vw, 32px);
    font-weight: 800;
}

.roadmapMedia {
    position: relative;
}

.roadmapMedia img {
    width: 40vw;
    position: relative;
    bottom: 40px;
    right: clamp(0, 1vw, 20px);
    filter: drop-shadow(0 15px 10px #0000007b);
}

.roadmapMedia div {
    position: absolute;
    background: url('/images/guide-dog.png');
    background-size: 40vw;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    width: 40vw;
    height: 100%;
    left: -5%;
    top: 67%;
    transform: rotateX(180deg);
    opacity: 0.5;
    filter: blur(2px);
    mask-image: linear-gradient(to bottom, transparent 65%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 65%, black 100%);
}

.roadmapPosters {
    width: 100%;
    margin-top: clamp(2.5rem, 1.5vw, 5rem);
    padding: 0 clamp(2px, 2vw, 4rem);
    display: flex;
    gap: clamp(3px, 1vw, 1rem);
}

.roadmapPosters > div {
    width: calc(25% - 2px);
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    padding-top: 14px;
    mask-image: linear-gradient(to bottom, white 60%, transparent 95%);
    -webkit-mask-image: linear-gradient(to bottom, white 60%, transparent 95%);
}

.roadmapPosters > div:nth-child(1){
    background: linear-gradient(180.00deg, rgb(219, 199, 12),rgba(255, 242, 128, 0) 100%);
    border-top-left-radius: clamp(25px, 1vw, 50px);
}

.roadmapPosters > div:nth-child(2){
    background: linear-gradient(180.00deg, rgb(0, 212, 212),rgba(65, 255, 255, 0) 100%);
}

.roadmapPosters > div:nth-child(3){
    background: linear-gradient(180.00deg, rgb(212, 39, 255),rgba(212, 39, 255, 0) 100%); 
}

.roadmapPosters > div:nth-child(4){
    background: linear-gradient(178.21deg, rgb(143, 58, 60) 0.409%,rgba(143, 58, 60, 0) 95.851%);
    border-top-right-radius: clamp(25px, 1vw, 50px);
}

.roadmapPosters h1 {
    width: 90%;
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 800;
    font-size: clamp(10px, 2vw, 28px);
    color: #FFFFFF;
    height: clamp(3rem, 10vw, 7rem);
}

.roadmapPosters span {
    font-size: clamp(7px, 2vw, 24px);
}

.roadmapPosters img {
    width: 100%;
}

@media (max-width: 768px) {
    .roadmapWrapper {
        margin-top: 2rem;
    }

    .roadmapMedia img {
        top: 0;
    }

    .roadmapInfo span {
        line-height: 0;
    }
    
}


@media (min-width: 769px) and (max-width: 1024px) {
    .roadmapWrapper {
        margin-top: 6rem;
    }
}