.roadmapWrapper {
    margin-top: 5rem;
    width: 100%;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.roadmapTitle {
    font-family: 'CheeseBurga';
    color: #FFFFFF;
    font-size: 6rem;
    font-weight: 400;
}

.roadmapContent {
    display: flex;
    justify-content: space-between;
}

.roadmapInfo {
    width: 50%;
    margin-top: 5rem;
}

.roadmapInfo p {
    font-family: 'Kumbh Sans';
    color: #353535;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.roadmapInfo span {
    font-family: 'Kumbh Sans';
    color: #FFA800;
    font-size: 32px;
    font-weight: 800;
}

.roadmapMedia {
    position: relative;
}

.roadmapMedia img {
    width: 30rem;
    position: relative;
    bottom: 40px;
    right: 20px;
    filter: drop-shadow(0 15px 10px #0000007b);
}

.roadmapMedia div {
    position: absolute;
    background: url('/images/guide-dog.png');
    background-size: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    width: 30rem;
    height: 100%;
    left: -4%;
    top: 82%;
    transform: rotateX(180deg);
    opacity: 0.5;
    filter: blur(2px);
    mask-image: linear-gradient(to bottom, transparent 65%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 65%, black 100%);
}

.roadmapPosters {
    width: 100%;
    margin-top: 5rem;
    padding: 0 3rem;
    display: flex;
    gap: 1rem;
}

.roadmapPosters > div {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 2;
    align-items: center;
    padding-top: 14px;
    mask-image: linear-gradient(to bottom, white 60%, transparent 95%);
    -webkit-mask-image: linear-gradient(to bottom, white 60%, transparent 95%);
}

.roadmapPosters > div:nth-child(1){
    background: linear-gradient(180.00deg, rgb(219, 199, 12),rgba(255, 242, 128, 0) 100%);
    border-top-left-radius: 50px;
}

.roadmapPosters > div:nth-child(2){
    background: linear-gradient(180.00deg, rgb(0, 212, 212),rgba(65, 255, 255, 0) 100%);
}

.roadmapPosters > div:nth-child(3){
    background: linear-gradient(180.00deg, rgb(212, 39, 255),rgba(212, 39, 255, 0) 100%); 
}

.roadmapPosters > div:nth-child(4){
    background: linear-gradient(178.21deg, rgb(143, 58, 60) 0.409%,rgba(143, 58, 60, 0) 95.851%);
    border-top-right-radius: 50px;
}

.roadmapPosters h1 {
    width: 85%;
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 800;
    font-size: 28px;
    color: #FFFFFF;
    height: 7rem;
}

.roadmapPosters span {
    font-size: 24px;
}

.roadmapPosters img {
    width: 100%;
}