.wrapper {
    width: 100vw;
    height: 100dvh;
    background-image: url('/images/landing-page.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.title {
    font-family: 'CheeseBurga';
    background: linear-gradient(180deg, #FFF280 0%, #7EFF5E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    letter-spacing: 0;
    text-align: center;
    font-weight: 100;
    font-size: clamp(3rem, 10vw, 7rem);
    filter: drop-shadow(clamp(4px, 1vw, 12px) clamp(8px, 2vw, 16px) #0F1B29);
    -webkit-text-stroke: 2px #0F1B29;
    padding-top: 1rem;
    line-height: clamp(1, 0, 1.5);
}

.descWrapper {
    width: 100vw;
    background-color: black;
    padding: 5px 10px;
    position: absolute;
    left: 0;
    bottom: 15%;
}

.desc {
    font-family: 'CheeseBurga';
    font-size: clamp(18px, 2.5vw, 2.5vw);
    color: #FFFFFF;
    text-align: center;
}

.desc span {
    background: linear-gradient(180deg, #FFF280FF 0%,#FFA800FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}