.wrapper {
    width: 100%;
    height: 100dvh;
    position: relative;
}

.wrapper > img {
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    object-position: center;
    object-fit: cover;
}

.title {
    font-family: 'CheeseBurga';
    background: linear-gradient(180deg, #FFF280 0%, #7EFF5E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    letter-spacing: 0;
    text-align: center;
    font-weight: 100;
    font-size: clamp(3rem, 8vw, 6rem);
    filter: drop-shadow(clamp(4px, 0.6vw, 12px) clamp(4px, 0.6vw, 14px) #0F1B29);
    -webkit-text-stroke: 2px #0F1B29;
    padding-top: 1rem;
    line-height: clamp(1, 0, 1.5);
}

.descWrapper {
    width: 100vw;
    background-color: black;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 15%;
}

.desc {
    font-family: 'CheeseBurga';
    font-size: clamp(18px, 2.5vw, 2.5vw);
    color: #FFFFFF;
    text-align: center;
}

.desc span {
    background: linear-gradient(180deg, #FFF280FF 0%,#FFA800FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}