.games {
    width: 100%;
    position: relative;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
        content: '';
        z-index: -1;
        width: 100%;
        height: 140vh;
        position: absolute;
        top: -30%;
        left: 0;
        right: 0;
        background: radial-gradient(26.91% 44.60% at 50% 50%, rgb(255, 242, 128), rgb(255, 199, 0) 100%);
        clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 85%);
    }
}

.games > h1 {
    font-family: 'CheeseBurga';
    color: #FFFFFF;
    font-size: 6rem;
    font-weight: 400;
}

.games > h5 {
    font-family: 'Montserrat';
    font-size: 1.4rem;
    font-weight: 800;
    color: #353535;
}

.gamesWrapper {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
}

.gameScroller {
    width: 100%;
    display: flex;
    padding: 0 3rem;
    gap: 3rem;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.game {
    flex: 0 0 100%;
    border: 5px solid white;
    border-radius: 2rem;
    overflow: hidden;
    margin-right: 3rem;
}

.game > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.nextBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    padding: 1rem 0.5rem;
    border-radius: 15px;
    border: 0;
    filter: drop-shadow(5px 5px 10px );
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 10;
}

.discoverBtn {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    border: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1.8rem;
    border-radius: 30px;
    border: 0;
    filter: drop-shadow(5px 5px 10px black);
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 800;
    color: #FFFFFF;
    z-index: 10;
    transition: all 0.4s ease-in-out;
}

.gamePreview {
    margin-top: 5rem;
    padding: 0 5rem;
    margin-bottom: 10rem;
}

.gamePreview > h1 {
    font-family: 'Montserrat';
    font-size: 3rem;
    font-weight: 800;
    color: #353535;
}

.gamePreview > h1 > span {
    color: #FFA800;
}

.gamePreviewWrapper {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
    align-items: center;
}

.gamePreviewScroller{
    display: flex;
    gap: 1.5rem;
}

.gamePreviewItem {
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    overflow: hidden;
}

.gamePreviewItem > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.gamePreviewNextBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    padding: 1.6rem 0.8rem;
    border-radius: 15px;
    border: 0;
    filter: drop-shadow(5px 5px 10px );
    cursor: pointer;
}