.tokenomics {
    width: 100%;
    height: 140vh;
    position: relative;
    padding: 0 clamp(1rem, 3vw, 3rem);

    &::before {
        content: '';
        z-index: -1;
        width: 100%;
        height: 140vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(26.91% 44.60% at 50% 50%, rgb(255, 242, 128), rgb(255, 199, 0) 100%);
        clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);
    }
}

.tokenomicsTitle {
    font-family: 'CheeseBurga';
    color: #FFFFFF;
    font-size: clamp(3rem, 10vw, 8rem);
    font-weight: 400;
    padding-top: clamp(2rem, 10vw, 8rem);
}

.tokenomicsWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tokenomicsContent {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 1vw, 1rem);
    margin-top: 2rem;
}

.tokenomicsContent>div {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #353535;
    padding: clamp(0.4rem, 1vw, 0.6rem) clamp(1rem, 3vw, 2rem);
    border-radius: clamp(10px, 1vw, 15px);
}

.tokenomicsContent>div>span {
    font-family: 'Montserrat';
    font-size: clamp(10px, 2vw, 1rem);
    color: #FFFFFF;
    font-weight: 800;
}

.tokenomicsContent>div>h1 {
    font-family: 'Montserrat';
    font-size: clamp(16px, 4vw, 2rem);
    color: #FFF280;
    font-weight: 800;
}

.tokenomicsMedia {
    margin-right: clamp(1rem, 7vw, 8rem);
    position: relative;
}

.tokenomicsMedia img {
    width: clamp(12rem, 40vw, 32rem);
}

.tokenomicsMedia div {
    position: absolute;
    background: url('/images/cashier-dog.png');
    background-size: clamp(12rem, 40vw, 32rem);
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    width: clamp(12rem, 40vw, 32rem);
    height: 100%;
    left: 0;
    top: 78%;
    opacity: 0.5;
    transform: rotateX(180deg);
    mask-image: linear-gradient(to bottom, transparent 65%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 65%, black 100%);
}

@media (max-width: 768px) {
    .tokenomics {
        height: 90vw;
    
        &::before {
            height: 100%;
        }
    }
    
}


@media (min-width: 769px) and (max-width: 1024px) {
    .tokenomics {
        height: 85vw;
    
        &::before {
            height: 100%;
        }
    }
    
}