.merchandise {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 5rem;
    padding: 0 15rem;
}

.merchandiseTitle {
    font-family: 'CheeseBurga';
    font-size: 5rem;
    color: #FFA800;
    font-weight: 400;
}

.merchandiseWrapper {
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: 560px;
    border-radius: 1rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-image 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.merchandiseWrapper button {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.merchandiseWrapper > h1 {
    position: absolute;
    top: 5rem;
    right: 6rem;
    font-family: 'Kumbh Sans';
    font-size: 1.2rem;
    color: #000000;
    font-weight: 800;
    z-index: 10;
}

.merchandiseWrapper > button:first-child {
    left: 1rem;
}

.merchandiseWrapper > button:last-child {
    right: 1rem;
}

.merchandiseItems {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.merchandiseScroller {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.merchandiseItem {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.merchandiseItem img {
    width: 50rem;
    object-fit: cover;
}