.merchandise {
    width: 100%;
    height: fit-content;
    /* margin-top: 5rem; */
    padding: 0 16vw;
}

.merchandiseTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'CheeseBurga';
    font-size: clamp(2.5rem, 6vw, 8rem);
    color: #FFA800;
    font-weight: 400;
}

.merchandiseWrapper {
    margin-top: clamp(1rem, 2vw, 8rem);
    position: relative;
    /* width: 100%; */
    /* height: 560px; */
    aspect-ratio: 4/3;
    border-radius: 1rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-image 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.merchandiseWrapper>button {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.merchandise svg {
    width: clamp(0.8rem, 2vw, 2rem);
}

.discoverBtn {
    font-family: 'Kumbh Sans';
    font-size: clamp(0.7rem, 2vw, 1.2rem);
    background-color: #000000;
    color: #FFFFFF;
    border-radius: clamp(1.5rem, 2vw, 3rem);
    padding: clamp(0.4rem, 1vw, 0.5rem) clamp(1.8rem, 5vw, 6rem);
    position: absolute;
    left: 50%;
    bottom: clamp(10px, 3vw, 35px);
    transform: translateX(-50%);
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    &:hover {
        background-color: #1a1a00;
    }
}

.merchandiseWrapper>h1 {
    position: absolute;
    top: clamp(30px, 5vw, 5rem);
    right: clamp(30px, 5vw, 6rem);
    font-family: 'Kumbh Sans';
    font-size: clamp(12px, 2vw, 1.2rem);
    color: #000000;
    font-weight: 800;
    z-index: 10;
}

.merchandiseWrapper>button:first-child {
    left: clamp(0.5rem, 1vw, 1rem);
}

.merchandiseWrapper>button:last-child {
    right: clamp(0.5rem, 1vw, 1rem);
}

.merchandiseItems {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.merchandiseScroller {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.merchandiseItem {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.merchandiseItem img {
    width: clamp(300px, 50vw, 50rem);
    object-fit: cover;
}

@media (max-width: 768px) {
    .merchandise {
        padding: 0 1rem;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .merchandise {
        padding: 0 4rem;
    }
}