.gamePreview {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background-color: #252525;
    z-index: -2;
    padding: clamp(1rem, 5vw, 3rem) clamp(1.8rem, 5vw, 5rem);
}

.gamePreviewBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* height: clamp(30vh, 50vw, 100%); */
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.gamePreviewHeading {
    transition: all 0.5s ease-in-out;
}

.gamePreviewHeading h1 {
    font-family: 'BaronKuffner';
    color: #FFFFFF;
    font-size: clamp(2.2rem, 4.5vw, 4.5rem);
    font-weight: 400;
}

.gamePreviewHeading h5 {
    font-family: 'Bebas Neue';
    font-size: clamp(1.2rem, 2.6vw, 2.6rem);
    font-weight: 400;
    letter-spacing: clamp(0.2rem, 1vw, 0.5rem);
    margin-bottom: 0.5rem;
}

.section1 {
    height: 100dvh;
    transition: all 0.3s ease-in-out;
    /* margin-bottom: 8rem; */
}

.section1 > p {
    padding-top: 1rem;
    width: 30rem;
    font-family: 'Montserrat';
    font-size: clamp(14px, 1.2vw, 1.2rem);
    line-height: clamp(1.4rem, 1.2vw, 2rem);
    font-weight: 700;
    color: #FFFFFF;
}

.section1 button {
    margin-top: clamp(0.8rem, 1.2vw, 1.5rem);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 2rem;
    padding: clamp(4px, 0.6vw, 6px);
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

.section1 button span {
    width: clamp(4rem, 1.2vw, 7rem);
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: clamp(12px, 1.2vw, 1.2rem);
    letter-spacing: 0.1rem;
    padding-right: 2rem;
}

svg {
    width: 2.5rem
}

.gamePreviewWrapper h1 {
    margin-top: 2rem;
    font-family: 'Montserrat';
    font-size: clamp(1.4rem, 2vw, 2rem);
    font-weight: 700;
    color: #FFFFFF;
}

.previews {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    gap: clamp(8px, 1.2vw, 1.5rem);
}

.previews img {
    height: clamp(6rem, 10vw, 10rem);
    border-radius: clamp(8px, 1vw, 1rem);
    border: 1px solid #FFFFFF;
}

.section2 {
    height: 100dvh;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #FFFFFF;
    transition: all 0.5s ease-in-out;
    
}

.section2 h1 {
    margin-bottom: 0.5rem;
    font-size: clamp(14px, 2vw, 1.6rem);
}

.section2 h5 {
    margin-top: 1rem;
    font-size: clamp(16px, 1vw, 1rem);
}

.section2 > p {
    width: 55rem;
    margin-bottom: 1rem;
    font-size: clamp(12px, 1vw, 1rem);
    line-height: 1.4;
    
}

.challengeModes {
    width: 55rem;
    line-height: 1.5rem;
}

.challengeModes > p {
    margin-left: clamp(5px, 0.6vw, 1rem);
    font-size: clamp(12px, 1vw, 1.2rem);
    line-height: clamp(1.1rem, 1.5vw, 2.2rem);
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: clamp(1rem, 1.5vw, 2rem);
}

.buttons button {
    border-radius: 2rem;
    width: clamp(8rem, 12vw, 10rem);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: 'Helvetica';
    font-weight: 600;
    font-size: clamp(12px, 1.2vw, 1.2rem);
    letter-spacing: 0.1rem;
    position: relative;
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

.buttons button > svg{
    position: absolute;
    left: 5px;
}

.buttons button:nth-child(2) {
    background-color: transparent;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
}

.scrollBar {
    position: absolute;
    top: 50%;
    right: clamp(1rem, 2vw, 4rem);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.scroller {
    width: clamp(0.8rem, 1vw, 7rem);
    height: 10rem;
    background-color: rgba(255, 255, 255, 0.30);
    margin: clamp(0.4rem, 0.6vw, 0.8rem) 0;
    border-radius: 8px;
    cursor: pointer;
}

.scrollBar > button {
    border-radius: 8px;
    padding: clamp(4px, 0.6vw, 5px);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: rgba(255, 255, 255, 0.30);
    transition: background-color 0.5s ease-in-out;
}

.scroller > div {
    width: 100%;
    height: 50%;
    background-color: #FFFFFF;
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;
}

.scrollBar > button > svg {
    width: clamp(0.6rem, 1vw, 0.8rem);  
}

@media (max-width: 768px) {
    .gamePreviewBackground {
        height: clamp(28vh, 50vw, 50vh);
    }

    .gamePreviewHeading {
        margin-top: clamp(26vh, 45vw, 50vh);
    }

    .section1 > p {
        width: 98%;
    }

    svg {
        width: 2rem
    }

    .section2 > p {
        width: 98%;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            background-color: var(--themeColor);
            top: 5px;
            left: -10px;
            border-radius: 50%;
        }
    }

    .challengeModes {
        width: 100%;
    }

    .gamePreviewHeading {
        transform: translateY(0)!important;
    }
}

/* @media (min-width: 769px) and (max-width: 1024px) {

} */