.visionWrapper {
    margin: 3rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::before {
        content: '';
        z-index: -1;
        width: 100%;
        height: 140vh;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(26.91% 44.60% at 50% 35%, rgb(255, 242, 128), rgb(255, 199, 0) 100%);
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    }
}

.visionTitle {
    font-family: 'CheeseBurga';
    color: #FFA800;
    font-size: 8vw;
    font-weight: 400;
}

.visionMedia {
    width: 90%;
    position: relative;
}

.visionMedia>img {
    width: 100%;
    height: 100%;
}

.visionMedia>div {
    position: absolute;
    background: url('/images/dog-friends.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 1%;
    top: 84%;
    transform: rotate(-2deg) rotateX(180deg);
    opacity: 0.5;
    filter: blur(2px);
    mask-image: linear-gradient(to bottom, transparent 65%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 65%, black 100%);
}

.visionDesc {
    margin-top: clamp(1.4rem, 7vw, 5rem);
    width: 80%;
    font-family: 'Kumbh Sans';
    font-size: clamp(12px, 2vw, 28px);
    font-weight: 800;
    color: #353535;
    text-align: center;
}

@media (max-width: 768px) {
    .visionWrapper {
        &::before {
            top: 30%;
            height: 90vw;
        }
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .visionWrapper {
        &::before {
            top: 40%;
            height: 70vw;
        }
    }
}